.rsvp
  form(action='/rsvps', method='post')#rsvp_form
    p(class=validation('name'))
      label(for='name') Name: 
      input(type='text',  name='rsvp[name]', size=30, value=rsvp.name)#name
    p(class=validation('email'))
      label(for="email") Email: 
      input(type='text', name="rsvp[email]", size=30, value=rsvp.email)#email
    p Would you like to attend the after party?
    .party
      p
        label(for="after_party") Yes: 
        input(type='checkbox', name="rsvp[after_party]", checked=rsvp.after_party)#after_party
      p(class=validation('group_size'))
        label(for="group_size") How many? 
        input(type="number", name="rsvp[group_size]", size = 2, maxlength=2, min=1, value=rsvp.group_size)#group_size
    input(type="submit", value="I'll be there.")#rsvp_submit

